<?xml version="1.0" encoding="UTF-8" ?>
<launch>
        <env name="GAZEBO_RESOURCE_PATH" value="${GAZEBO_RESOURCE_PATH}:/home/user/simulation_ws/src/search_and_rescue/textures" />
        <!-- overwriting these args -->
        <arg name="debug" default="false" />
        <arg name="gui" default="true" />
        <arg name="pause" default="false" />
        <arg name="world" default="$(find search_and_rescue)/world/test.world" />
        <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
            <rosparam file="$(find rosbot_navigation)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
            <rosparam file="$(find rosbot_navigation)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
            <rosparam file="$(find rosbot_navigation)/config/local_costmap_params.yaml" command="load" />
            <rosparam file="$(find rosbot_navigation)/config/global_costmap_params.yaml" command="load" />
            <rosparam file="$(find rosbot_navigation)/config/trajectory_planner.yaml" command="load" />

            <remap from="cmd_vel" to="cmd_vel"/>
            <remap from="odom" to="odom"/>
            <remap from="scan" to="/scan"/>
            <param name="move_base/DWAPlannerROS/yaw_goal_tolerance" value="1.0"/>
            <param name="move_base/DWAPlannerROS/xy_goal_tolerance" value="1.0"/>

        </node>
        <node pkg="explore_lite" type="explore" respawn="true" name="explore" output="screen">
            <rosparam file="$(find rosbot_navigation)/config/exploration.yaml" command="load" />
        </node>

        <include file="$(find rosbot_bringup)/launch/rosbot_gazebo.launch" />
        <!-- include gazebo_ros launcher -->
        <include file="$(find gazebo_ros)/launch/empty_world.launch">
                <arg name="world_name"   value="$(arg world)" />
                <arg name="debug"        value="$(arg debug)" />
                <arg name="gui"          value="$(arg gui)" />
                <arg name="paused"       value="$(arg pause)" />
                <arg name="use_sim_time" value="true" />
        </include>

</launch>
